*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(black, #38073b);
    background-size: cover; /* Mengisi area dengan gambar, mempertahankan rasio aspek */
      background-position: center; /* Menengahkan gambar */
      background-repeat: no-repeat; /* Menghindari pengulangan gambar */
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.paralax {
    position: relative;
    width: 100%;
    height: 200vh;
    padding: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.paralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

#text{
    font-family: poppins, sans-serif;
    position: absolute;
    font-size: 3em;
    color: aliceblue;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 3px 3px 10px grey;
}

#button{
    position: absolute;
    font-size: 1em;
    color: black;
    background-color: aliceblue;
    padding: 10px 50px;
    border-radius: 20px;
    text-decoration: none;
    transform: translateY(230px);
}

@media only screen and (max-width: 600px) {
    /* Gaya untuk layar berukuran 600px atau lebih kecil */
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Gaya untuk layar berukuran 601px hingga 1024px */
  }
  
  @media only screen and (min-width: 1025px) {
    /* Gaya untuk layar berukuran 1025px atau lebih besar */
  }
